:root {
    --poppins: 'Poppins', sans-serif;
    --anim: all ease-out 0.3s;
    --solid: rgb(103,88,250);
    --linear: linear-gradient(270deg, rgba(103,88,250,1) 0%, rgba(140,88,250,1) 100%);
}

*{
    font-family: var(--poppins);
}

.ratio{
    width: 100%;
    height: 0;
    position: relative;
}
.ratio img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}
.ratio-16{
    padding-top: 56.25%;
}
.ratio-75{
    padding-top: 75%;
}
.ratio-1{
    padding-top: 100%;
}
.circle{
    overflow: hidden;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.for-mobile{
    display: none;
}

p{
    font-size: 14px;
    font-weight: 400;
}

figure,
.g-content figure{
    margin: 0;
}

.g-content ul{
    list-style: none;
}

.master{
    width: 100%;
    float: left;
    position: relative;
}
.sidebar{
    width: 300px;
    height: 100vh;
    background: #262653;
    /*overflow-y: auto;*/
    position: fixed;
    top: 0;
    left: 0;
    padding: 40px 0 40px 40px;
}

.logo{
    display: block;
    width: 212px;
    float: left;
    margin-bottom: 76px;
}

.side-menu{
    width: 100%;
    float: left;
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}
.side-menu li{
    width: 100%;
    float: left;
    position: relative;
    margin-bottom: 15px;
    padding-right: 15px;
}
.side-menu li a{
    display: block;
    position: relative;
    padding: 18px 10px 10px 60px;
    font-size: 16px;
    font-weight: 300;
    color: rgba(255,255,255,0.8);
    height: 60px;
    z-index: 2;
    transition: var(--anim);
    -moz-transition: var(--anim);
    -webkit-transition: var(--anim);
}
.side-menu li a::before{
    content: "";
    opacity: 0;
    background: var(--solid);
    background: var(--linear);
    width: 60px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    transition: var(--anim);
    -moz-transition: var(--anim);
    -webkit-transition: var(--anim);
}

.side-menu li.active a::before{
    opacity: 1;
    width: 100%;
}

.side-menu li a:hover{
    color: rgba(140,88,250,1);
}
.side-menu li.active a .g-icon{
    background: #fff;
}
.side-menu li a .g-icon{
    left: 10px;
    top: 10px;
}

.g-content{
    width: calc(100% - 300px);
    float: right;
    background: #151436;
}
.g-content section{
    width: 100%;
    float: left;
    padding: 40px;
}

.header{
    padding-top: 40px;
    padding-bottom: 40px;
    height: 131px;
}
.src{
    width: 100%;
    float: left;
    position: relative;
}
.src input{
    width: 100%;
    max-width: 360px;
    float: left;
    height: 51px;
    background: #262653;
    border: none;
    border-radius: 26px;
    -moz-border-radius: 26px;
    -webkit-border-radius: 26px;
    padding: 10px 20px 10px 50px;
    font-size: 14px;
    color: #fff;
    font-family: var(--poppins);
}
.src button{
    width: 51px;
    height: 51px;
    position: absolute;
    top: 0;
    left: 0;
    background: none;
    border: none;
    padding-top: 5px;
}
.g-content ul.main-menu{
    float: right;
    text-align: right;
    list-style: none;
    margin: 0;
}
.main-menu li{
    display: inline-block;
    font-size: 14px;
}
.main-menu li a{
    display: inline-block;
    padding: 13px 20px;
    color: #fff;
    font-size: 14px;
}
.main-menu li:last-child{
    margin-left: 20px;
}

.cta{
    display: inline-block;
    padding: 13px 20px;
    min-width: 120px;
    color: #fff;
    background: var(--solid);
    background: var(--linear);
    text-align: center;
    font-size: 14px;
    border-radius: 26px;
    -moz-border-radius: 26px;
    -webkit-border-radius: 26px;
    transition: var(--anim);
    -moz-transition: var(--anim);
    -webkit-transition: var(--anim);
}
.cta:hover{
    color: #fff;
    background: rgb(140,88,250,1);
    background: linear-gradient(270deg, rgba(140,88,250,1) 0%, rgba(103,88,250,1) 100%);;
}

section.banner{
    padding-top: 40px;
    padding-bottom: 40px;
}
.ads{
    display: inline-block;
    width: 100%;
    max-width: 728px;
    height: 90px;
    margin: auto;
    display: block;
}
#top-ads{
    text-align: left;
    background: url(../images/top-banner-bg.jpg) no-repeat center;
    background-size: cover;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    padding: 20px 40px;
}
.ads .text{
    width: 50%;
    float: left;
}
.ads .text h3{
    font-size: 20px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 5px;
}
.ads .text p{
    color: rgba(255,255,255,0.71);
}
.ads .bt-cta{
    width: 50%;
    float: left;
    text-align: right;
}

.secondary-btn{
    min-width: 140px;
    height: 45px;
    text-align: center;
    background: none;
    border: 1px solid #fff;
    padding: 12px 20px 8px;
    font-size: 14px;
    color: #fff;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 26px;
    display: inline-block;
}

.g-icon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background: #313169;
    position: absolute;
    left: 0;
    transition: var(--anim);
    -moz-transition: var(--anim);
    -webkit-transition: var(--anim);
}
.g-icon img{
    display: block;
}

.section-title{
    width: 100%;
    float: left;
    position: relative;
    padding-left: 60px;
    padding-top: 5px;
}
.section-title h3{
    font-size: 24px;
    color: #fff;
    font-weight: 500;
}
.section-title .g-icon{
    top: 0;
}

.g-card{
    width: 100%;
    float: left;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    background: #262653;
    padding: 10px;
    height: 100%;
}
.g-card figure img{
    border-radius: 22px;
    -moz-border-radius: 22px;
    -webkit-border-radius: 22px;
}
.g-card .pic{
    width: 100%;
    float: left;
}
.g-card .pic figure{
    overflow: hidden;
}
.g-card .text{
    width: 100%;
    float: left;
    padding: 20px 10px;
    position: relative;
}
.g-card .text h3{
    font-size: 18px;
    width: 100%;
    float: left;
    font-weight: 500;
}
.g-card .text h3 a{
    color: #fff;
}

.rating{
    width: 100%;
    float: left;
    font-size: 14px;
    color: #9595D1;
}
.rating .ico{
    margin-right: 5px;
    margin-bottom: -3px;
}

.ico{
    width: 16px;
    height: 16px;
    display: inline-block;
}
.ico-star{
    background: url(../images/icon/star.svg) no-repeat center;
    background-size: contain;
}
.ico-star-off{
    background: url(../images/icon/star-off.svg) no-repeat center;
    background-size: contain;
}

.bt-play{
    width: 48px;
    height: 48px;
    background: var(--solid);
    background: var(--linear);
    text-align: center;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    padding-top: 15px;
    padding-left: 3px;
}
.g-card .text .bt-play{
    position: absolute;
    top: -24px;
    right: 20px;
}

.g-card .bt-cta{
    width: 100%;
    float: left;
    margin-top: 25px;
    margin-bottom: -10px;
}
.g-card .bt-cta a{
    height: 45px;
    width: 100%;
}

section.popular .g-card .text h3{
    font-size: 16px;
}

.g-card-2{
    width: 100%;
    float: left;
    background: #262653;
    padding: 15px;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    position: relative;
}
.g-card-2 .pic{
    width: 80px;
    float: left;
    position: relative;
}
.g-card-2 figure img{
    border-radius: 12px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
}
.g-card-2 .text{
    width: calc(100% - 80px);
    float: left;
    padding: 10px 60px 0 20px;
}
.g-card-2 .text h3{
    width: 100%;
    float: left;
    font-size: 16px;
    font-weight: 500px;
}
.g-card-2 .text h3 a{
    color: #fff;
}
.g-card-2 .text .bt-play{
    position: absolute;
    right: 25px;
    top: calc(50% - 24px);
}

#bottom-ads{
    text-align: left;
    background: url(../images/bottom-banner-bg.jpg) no-repeat center;
    background-size: cover;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    padding: 15px 40px;
}
#bottom-ads .text h3{
    line-height: 150%;
}
#bottom-ads .bt-cta{
    margin-top: 7px;
}

section.footer{
    background: #151436;
    border-top: 1px solid #36345A;
    padding-bottom: 25px;
}

section.footer{
    font-size: 14px;
    color: #fff;
}

.foot-nav{
    float: left;
    list-style: none;
}
.foot-nav li{
    width: 100%;
    float: left;
    font-size: 14px;
}
.foot-nav li a{
    color: #fff;
    display: block;
    padding: 5px 15px;
}
.foot-nav li a:hover{
    color: rgba(140,88,250,1);
}

p.copyright{
    margin-bottom: 0;
    font-size: 16px;
    color: #fff;
    width: 100%;
    float: left;
    border-top: 1px solid #262653;
    padding-top: 25px;
}

.article{
    width: 100%;
    float: left;
}
.g-content figure.main-img{
    width: 100%;
    float: left;
    margin-bottom: 40px;
}
.main-img img{
    border-radius: 18px;
    -moz-border-radius: 18px;
    -webkit-border-radius: 18px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.article-header{
    width: 100%;
    float: left;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    padding-bottom: 20px;
    margin-bottom: 30px;
}
.article-header .text{
    width: 50%;
    float: left;
}
.article-header .text h1{
    font-size: 24px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 10px;
}
.article-header .text .meta-info{
    font-size: 15px;
    color: rgba(255,255,255,0.71);
    margin-bottom: 15px;
}
.article-header .text .meta-info span{
    color: rgba(255,255,255,0.4);
    margin: 0 15px;
}
.article-header .text .rating{
    margin-bottom: 20px;
}

.article-header .text .bt-group{
    width: 100%;
    float: left;
}
.article-header .text .bt-group a{
    width: 40px;
    height: 40px;
    float: left;
    background: #262653;
    text-align: center;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    margin-right: 15px;
}
.article-header .text .bt-group a:last-child{
    margin-right: 0;
}

.article-header .bt-group-2{
    width: 50%;
    float: left;
    text-align: right;
}
.article-header .bt-group-2 a{
    display: inline-block;
    height: 48px;
    padding: 11px 20px;
    background: #262653;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    font-size: 14px;
    color: #fff;
    margin-left: 15px;
}
.article-header .bt-group-2 a img{
    margin-right: 5px;
    margin-bottom: -6px;
}
.article-ct{
    width: 100%;
    float: left;
}
.article-ct h3{
    font-size: 18px;
    color: #fff;
    margin-bottom: 15px;
    font-weight: 500;
}
.article-ct p{
    color: rgba(255,255,255,0.71);
    margin-bottom: 30px;
    line-height: 200%;
}
.article-ct p a{
    color: #6758FA;
    font-weight: 700;
}

.comment-box{
    width: 100%;
    float: left;
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    padding: 30px;
}

.box-title{
    width: 100%;
    float: left;
    margin-bottom: 20px;
}
.box-title h4{
    float: left;
    font-size: 20px;
    color: #fff;
    font-weight: 500;
}
.box-title select{
    float: right;
    padding: 5px 40px 5px 20px;
    height: 40px;
    background: none;
    border: 1px solid #fff;
    color: #fff;
    appearance: none;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    background: url(../images/icon/caret-down.svg) no-repeat right center;
}
.box-title select option{
    color: #333;
}
.box-title a{
    float: right;
    font-size: 14px;
    color: #fff;
    padding-top: 6px;
}

form.comment{
    width: 100%;
    float: left;
    position: relative;
    margin-bottom: 40px;
}
form.comment textarea{
    resize: none;
    width: 100%;
    height: 50px;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    background: #262653;
    border: none;
    padding: 16px 25px;
    color: #fff;
    font-size: 14px;
    font-family: var(--poppins);
}
form.comment button{
    width: 40px;
    height: 40px;
    background: var(--solid);
    background: var(--linear);
    border: none;
    padding: 0;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    position: absolute;
    top: 5px;
    right: 5px;
}

.comment-ct{
    width: 100%;
    float: left;
    margin-bottom: 40px;
}
.comment-ct li{
    width: 100%;
    float: left;
    padding: 30px 0;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}
.comment-ct li .pic{
    width: 40px;
    float: left;
}
.comment-ct li .text{
    width: calc(100% - 40px);
    padding-left: 15px;
    float: left;
}
.comment-ct li .text h5{
    float: left;
    font-size: 14px;
    font-weight: 500;
    margin-right: 10px;
    letter-spacing: 2%;
}
.comment-ct li .text h5 a{
    color: #fff;
}
.comment-ct li .text span{
    margin-left: 5px;
    font-size: 12px;
    color: #fff;
}
.comment-ct li .text p{
    width: 100%;
    float: left;
    margin: 10px 0 20px;
    color: rgba(255,255,255,0.71);
}
.comment-ct li .text p a{
    color: #6758FA;
    font-weight: 600;
}
.comment-ct li .text .bt-group{
    width: 100%;
    float: left;
}
.comment-ct li .text .bt-group a{
    float: left;
    margin-right: 25px;
    font-size: 14px;
    color: #fff;
}
.comment-ct li .text .bt-group a img{
    display: block;
    float: left;
    margin-right: 10px;
    transform: translateY(2px);
}
.comment-ct li .replied{
    padding-left: 55px;
}
.comment-ct li .replied li{
    border-bottom: none;
}
.comment-ct li:last-child{
    margin-bottom: 0;
    padding-bottom: 0;
    border: none;
}
.comment-ct li .ava-replace{
    width: 40px;
    height: 40px;
    background: var(--linear);
    font-size: 18px;
    text-align: center;
    font-weight: 600;
    color: #fff;
    display: block;
    padding-top: 6px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.sm-widget{
    width: 100%;
    float: left;
    margin-bottom: 30px;
    background: #262653;
    padding: 20px;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
}
.sm-post{
    width: 100%;
    float: left;
    margin-bottom: 10px;
}
.sm-post li{
    width: 100%;
    float: left;
    margin-bottom: 27px;
}
.sm-post li:last-child{
    margin-bottom: 0;
}
.sm-post li .pic{
    width: 50px;
    float: left;
}
.sm-post li .text{
    width: calc(100% - 50px);
    float: left;
    padding-left: 15px;
}
.sm-post li .text h3{
    font-size: 16px;
    font-weight: 500;
}
.sm-post li .text h3 a{
    color: #fff;
}
.sm-post li .text span{
    font-size: 14px;
    color: rgba(255,255,255,0.71);
    font-weight: 300;
}

.showcase{
    width: 100%;
    float: left;
    margin-bottom: 30px;
    text-align: center;
}
.showcase img{
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
}

.g-content section.mid-ct .is-8{
    padding-right: 25px;
}
.g-content section.mid-ct .is-4{
    padding-left: 25px;
}

/*loadmore*/
.listing .column,
.comment-ct li.cmt-item{
    display: none;
}
.comment-ct li.cmt-item.show{
    display: block;
}
.listing .column.show{
    display: flex;
}
.cta.noContent{
    background: #262653;
}

@media only screen and (min-width: 769px) and (max-width: 1024px){
    .header .columns{
        display: block;
    }
    .header .column.is-8,
    .header .column.is-4{
        width: 100%;
    }
}

@media only screen and (max-width: 1024px){
    .for-mobile{
        display: block;
    }
    .master{
        overflow-x: hidden;
    }
    .g-content section{
        padding-left: 25px;
        padding-right: 25px;
    }
    .g-content{
        width: 100%;
        padding-top: 80px;
    }
    .sidebar{
        width: 100vw;
        z-index: 9;
        left: -100vw;
        height: 80px;
    }
    .side-header{
        position: absolute;
        left: 100vw;
        top: 0;
        width: 100vw;
        height: 80px;
        background: #262653;
    }
    .burger,
    .side-header .bt-more{
        width: 80px;
        height: 80px;
        float: left;
        text-align: center;
        padding-top: 18px;
    }
    .logo{
        width: calc(100% - 160px);
        float: left;
        padding: 25px 30px;
        margin-bottom: 0;
        text-align: center;
    }
    .side-menu{
        position: absolute;
        top: 80px;
        left: -100vw;
        
        max-height: calc(100vh - 80px);
        background: #262653;
        padding: 20px 0 40px 30px;
        transition: var(--anim);
        -moz-transition: var(--anim);
        -webkit-transition: var(--anim);
    }
    .side-menu li{
        padding-right: 0;
    }
    .side-menu.show{
        left: 100vw;
    }
    .g-content .header{
        position: fixed;
        z-index: 9;
        background: #262653;
        height: calc(100vh - 80px);
        left: 100%;
        transition: var(--anim);
        -moz-transition: var(--anim);
        -webkit-transition: var(--anim);
        padding-left: 30px;
        padding-right: 30px;
    }
    .header.show{
        left: 0;
    }
    .g-content ul.main-menu{
        width: 100%;
    }
    .src input{
        max-width: none;
    }
    .src{
        margin-bottom: 40px;
    }
    .src input{
        border: 1px solid rgba(255,255,255,0.2);
    }
    .main-menu li{
        width: 100%;
        text-align: center;
    }
    .main-menu li a{
        padding-right: 0;
        padding-left: 0;
    }
    .main-menu li:last-child{
        margin-left: 0;
        margin-top: 20px;
    }
    
    .g-card,
    .g-card-2{
        margin-bottom: 20px;
    }
    .section-title{
        margin-bottom: 30px;
        padding-top: 2px;
        padding-left: 48px;
    }
    .section-title h3{
        font-size: 18px;
    }
    .g-icon{
        width: 32px;
        height: 32px;
    }

    .g-card-2 .pic{
        width: 60px;
    }
    .g-card .text .bt-play{
        top: -20px;
    }

    .bt-play{
        width: 40px;
        height: 40px;
        padding-top: 12px;
    }

    .g-card .text h3{
        font-size: 16px;
    }
    .g-card-2 .text h3{
        font-size: 14px;
    }

    .g-card-2 .text .bt-play{
        right: 15px;
    }
    .g-card-2 .text{
        padding: 0 30px 0 15px;
    }

    .foot-nav{
        text-align: center;
        margin-bottom: 30px;
    }
    .foot-nav li{
        display: inline-block;
        width: auto;
    }
    .foot-logo{
        text-align: center;
        display: block;
        width: 100%;
        margin: auto;
        margin-bottom: 10px;
        width: 139px;
    }

    section.footer p{
        text-align: center;
        width: 100%;
        float: left;
        margin-bottom: 30px;
    }

    #top-ads,
    #bottom-ads{
        padding: 20px 15px;
    }

    #top-ads .text h3,
    #bottom-ads .text h3{
        font-size: 16px;
    }

    .secondary-btn{
        min-width: 95px;
        font-size: 12px;
        height: 35px;
        padding-top: 8px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .ads .text{
        width: 65%;
    }
    .ads .bt-cta{
        width: 35%;
    }

    .popular .ratio-75{
        padding-top: 56.25%;
    }

    .g-content section.mid-ct{
        padding-top: 0;
    }
    .g-content figure.main-img{
        margin-bottom: 20px;
    }
    .article-header .text{
        width: 100%;
        margin-bottom: 20px;
    }
    .article-header .bt-group-2{
        width: 100%;
        text-align: left;
    }
    .article-header .bt-group-2 a{
        margin-left: 0;
        margin-right: 10px;
    }
    .article-header .text h1{
        font-size: 20px;
    }

    .comment-box{
        padding: 30px 15px;
    }
    .box-title h4{
        font-size: 18px;
    }
    .box-title select{
        width: 120px;
        margin-top: -5px;
    }
    form.comment{
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .comment-box{
        margin-bottom: 30px;
    }
    .g-content section.mid-ct .is-8{
        padding-right: 10px;
    }
    .g-content section.mid-ct .is-4{
        padding-left: 10px;
    }
}

